<!DOCTYPE html>
<html>
    <head>
        <title>Notify the MSC</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <div id="error-window"></div>
        <div id="success-message">Information successfully submitted</div>
        <form id="notification-form">
            <label id="pickup-address-label">Pickup address</label>
            <input id="pickup-address-field" name="pickup-address">
            <button type="submit" id="submit">Send to MSC</button>
        </form>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
