<!DOCTYPE html>
<html>
    <head>
        <title>Notify the MSC</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <div id="main">
            <div id="error-window"></div>
            <div id="success-message"><p>Information successfully submitted</p></div>
            <h1>Notify the MSC</h1>
            <form id="notification-form">
                <div class="field field-text-input">
                    <label id="pickup-address-label">Pickup address</label>
                    <input id="pickup-address-field" name="pickup-address" type="text">
                    <p>Example: 1301 w 12th st</p>
                </div>
                <fieldset id="language-field">
                  <legend id="language-label">Language</legend>
                  <div class="field field-radio-input">
                    <label for="language-english">
                      English
                      <input type="radio" name="language" id="language-english"></input>
                    </label>
                  </div>
                  <div class="field field-radio-input">
                    <label for="language-spanish">
                      Spanish
                     <input type="radio" name="language" id="language-spanish"></input>
                    </label>
                  </div>
                  <div class="field field-radio-input">
                    <label for="language-khmer">
                      Khmer
                      <input type="radio" name="language" id="language-khmer"></input>
                    </label>
                  </div>
                  <div class="field field-radio-input">
                    <label for="language-tagalog">
                      Tagalog
                      <input type="radio" name="language" id="language-tagalog"></input>
                    </label>
                  </div>
                  <div class="field field-radio-input">
                    <label for="language-other">
                      Other
                      <input type="radio" name="language" id="language-other"></input>
                    </label>
                  </div>
                </fieldset>
                <fieldset id="hospital-field">
                  <legend>Hospital</legend>
                  <div class="field">
                    <label for="hospital-memorial">
                      Memorial
                      <input type="radio" name="hospital" id="hospital-memorial"></input>
                    </label>
                  </div>
                  <div class="field">
                    <label for="hospital-st-marys">
                      St. Mary's
                     <input type="radio" name="hospital" id="hospital-st-marys"></input>
                    </label>
                  </div>
                  <div class="field">
                    <label for="hospital-community">
                      Community
                      <input type="radio" name="hospital" id="hospital-community"></input>
                    </label>
                  </div>
                  <div class="field">
                    <label for="hospital-college">
                      College (Pacific)
                      <input type="radio" name="hospital" id="hospital-college"></input>
                    </label>
                  </div>
                  <div class="field">
                    <label for="hospital-lakewood">
                      Lakewood
                      <input type="radio" name="hospital" id="hospital-lakewood"></input>
                    </label>
                  </div>
                  <div class="field">
                    <label for="hospital-other">
                      Other
                      <input type="radio" name="hospital" id="hospital-other"></input>
                    </label>
                  </div>
                </fieldset>
                <fieldset id="interested-field">
                  <legend>Is this person interested in talking to a caseworker?</legend>
                  <div class="field">
                    <label for="interested-yes">
                      Yes
                      <input type="radio" name="caseworker" id="interested-yes"></input>
                    </label>
                  </div>
                  <div class="field">
                    <label for="interested-no">
                      No
                     <input type="radio" name="caseworker" id="interested-no"></input>
                    </label>
                  </div>
                  <div class="field">
                    <label for="interested-unsure">
                      Unsure
                      <input type="radio" name="caseworker" id="interested-unsure"></input>
                    </label>
                  </div>
                </fieldset>
                <fieldset id="homeless-field">
                  <legend>Is this person homeless?</legend>
                  <div class="field">
                    <label for="homeless-yes">
                      Yes
                      <input type="radio" name="homeless" id="homeless-yes"></input>
                    </label>
                  </div>
                  <div class="field">
                    <label for="homeless-no">
                      No
                     <input type="radio" name="homeless" id="homeless-no"></input>
                    </label>
                  </div>
                  <div class="field">
                    <label for="homeless-unsure">
                      Unsure
                      <input type="radio" name="homeless" id="homeless-unsure"></input>
                    </label>
                  </div>
                </fieldset>
                <div class="footer">
                    <button type="submit" id="submit">Send to MSC</button>
                </div>
            </form>
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
            <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        </div>
    </body>
</html>
