<!DOCTYPE html>
<html>
    <head>
        <title>Notify the MSC</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <div id="main">
            <div id="error-window"></div>
            <div id="success-message"><p>Information successfully submitted</p></div>
            <h1>Notify the MSC</h1>
            <form id="notification-form">
                <div class="field field-text-input">
                    <label id="pickup-address-label">Pickup address</label>
                    <input id="pickup-address-field" name="pickup-address" type="text">
                    <p>Example: 1301 w 12th st</p>
                </div>
                <fieldset id="hospital-field">
                  <legend>Hospital</legend>
                  <div class="field">
                    <label for="hospital-memorial">
                      Memorial
                      <input type="radio" name="hospital" id="hospital-memorial"></input>
                    </label>
                  </div>
                  <div class="field">
                    <label for="hospital-st-marys">
                      St. Mary's
                     <input type="radio" name="hospital" id="hospital-st-marys"></input>
                    </label>
                  </div>
                  <div class="field">
                    <label for="hospital-community">
                      Community
                      <input type="radio" name="hospital" id="hospital-community"></input>
                    </label>
                  </div>
                  <div class="field">
                    <label for="hospital-college">
                      College (Pacific)
                      <input type="radio" name="hospital" id="hospital-college"></input>
                    </label>
                  </div>
                  <div class="field">
                    <label for="hospital-lakewood">
                      Lakewood
                      <input type="radio" name="hospital" id="hospital-lakewood"></input>
                    </label>
                  </div>
                  <div class="field">
                    <label for="hospital-other">
                      Other
                      <input type="radio" name="hospital" id="hospital-other"></input>
                    </label>
                  </div>
                </fieldset>
                <!--
                <fieldset>
                  <legend>Is this person homeless?</legend>
                  <div class="field">
                    <label>
                      Yes
                      <input type="radio" name="homeless"></input>
                    </label>
                  </div>
                  <div class="field">
                    <label>
                      No
                     <input type="radio" name="homeless"></input>
                    </label>
                  </div>
                  <div class="field">
                    <label>
                      Not sure
                      <input type="radio" name="homeless"></input>
                    </label>
                  </div>
                </fieldset>
                <fieldset>
                  <legend>Is this person interested in talking to a caseworker?</legend>
                  <div class="field">
                    <label>
                      Yes
                      <input type="radio" name="caseworker"></input>
                    </label>
                  </div>
                  <div class="field">
                    <label>
                      No
                     <input type="radio" name="caseworker"></input>
                    </label>
                  </div>
                  <div class="field">
                    <label>
                      Not sure
                      <input type="radio" name="caseworker"></input>
                    </label>
                  </div>
                </fieldset>
                -->
                <div class="footer">
                    <button type="submit" id="submit">Send to MSC</button>
                </div>
            </form>
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
            <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        </div>
    </body>
</html>
